fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai>=1.0.3
langchain-chroma
langchain-text-splitters
chromadb
slowapi
pypdf
docx2txt
google-generativeai>=0.5.2