streamlit
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-text-splitters==0.3.0
langchain-google-genai
langchain-chroma
chromadb
python-dotenv
tiktoken>=0.7.0
# THÊM 2 DÒNG NÀY ĐỂ ĐỌC PDF VÀ WORD
pypdf
docx2txt
fastapi
uvicorn
pydantic