fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
langchain-text-splitters
chromadb
slowapi
pypdf
docx2txt
# --- THƯ VIỆN MỚI ---
langchain-cohere